@media (min-width: 0) {
  body {
    overflow-x: hidden;
  }
  main {
    .offer {
      background-color: #eff9f9;
      padding: 30px 10px;

      .container-fluid {
        padding-right: 0;
        padding-left: 0;
      }

      .offer-grid {
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
        background: #ffffff;
        border: 10px solid #ffffff;
        box-sizing: border-box;
        border-radius: 15px;

        .offer-content {
          width: 100%;
          background: #ffffff;
          border: 1px solid #535353;
          box-sizing: border-box;
          border-radius: 15px;
          padding: 20px;

          .left {
            h3 {
              font-size: 36px;
              line-height: 42.19px;
              color: #535353;
              margin: 0;
            }

            p {
              font-size: 16px;
              line-height: 18.75px;
              color: #535353;
              margin: 0;
              padding-top: 5px;

              a {
                display: none;
              }
            }
          }

          .right {
            padding-top: 10px;
            strong {
              font-weight: 700;
              font-size: 49.68px;
              line-height: 58.22px;
              text-align: right;
              color: #535353;
            }
          }

          .subscribe-form {
            margin-top: 6.12px;

            form {
              .input-control {
                width: 100%;

                input {
                  width: 100%;
                  background: #f1f3f4;
                  font-size: 12px;
                  line-height: 14px;
                  text-align: left;
                  color: #535353;
                  padding: 14px 0 12px 25px;
                  border: 0;
                  border-radius: 100px;
                  overflow: hidden;

                  &:focus-visible {
                    outline: none;
                    border: 0;
                  }

                  &::placeholder {
                    color: #535353;
                    opacity: 1;
                  }
                }
              }

              button {
                flex-grow: 1;
                background: #ff5c7b;
                border-radius: 100px;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.05em;
                color: #ffffff;
                text-align: left;
                padding: 11px 25px 10px 25.1px;
                width: 100%;
                margin-top: 10px;

                strong {
                  font-weight: 700;
                }

                &:focus-visible {
                  outline: none;
                  box-shadow: none;
                }

                &:focus {
                  outline: none;
                  box-shadow: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    .offer {
      background-color: #eff9f9;
      padding: 15px;

      .container-fluid {
        padding-right: 20px;
        padding-left: 20px;
      }

      .offer-grid {
        .offer-content {
          padding: 8.56px 41px 11px 50px;

          .left {
            max-width: 270px;

            p {
              padding-top: 3px;
            }
          }

          .right {
            padding-top: 0;
            strong {
              font-size: 63.2362px;
              line-height: 78px;
            }
          }

          .subscribe-form {
            margin-top: 6.56px;

            form {
              .row-form{
                height: 40px;
                margin-bottom:10px;
              }
              .border-rounded{
                .input-control{
                  input {
                        border-radius: 15px !important;
                    }
                }
              }
              .input-control {
                width: 278px;

                input {
                  border-radius: 15px 0 0 15px;
                }
              }
              .col-left {
                padding-left: 0 !important;
              }
              .col-right {
                padding-right: 0 !important;
              }

              button {
                border-radius: 0 90px 90px 0;
                padding: 11px 25px 10px 25.1px;
                width: unset;
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
