@media (min-width: 0) {
  .gsi {
    font-family: 'GS-Starter-Icon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .gs-facebook-alt:before {
    content: '\ea90';
  }
  .gs-twitter-alt:before {
    content: '\ea96';
  }
  .gs-activity:before {
    content: '\e900';
  }
  .gs-airplay:before {
    content: '\e901';
  }
  .gs-alert-circle:before {
    content: '\e902';
  }
  .gs-alert-octagon:before {
    content: '\e903';
  }
  .gs-alert-triangle:before {
    content: '\e904';
  }
  .gs-align-center:before {
    content: '\e905';
  }
  .gs-align-justify:before {
    content: '\e906';
  }
  .gs-align-left:before {
    content: '\e907';
  }
  .gs-align-right:before {
    content: '\e908';
  }
  .gs-anchor:before {
    content: '\e909';
  }
  .gs-aperture:before {
    content: '\e90a';
  }
  .gs-archive:before {
    content: '\e90b';
  }
  .gs-arrow-down:before {
    content: '\e90c';
  }
  .gs-arrow-down-circle:before {
    content: '\e90d';
  }
  .gs-arrow-down-left:before {
    content: '\e90e';
  }
  .gs-arrow-down-right:before {
    content: '\e90f';
  }
  .gs-arrow-left:before {
    content: '\e910';
  }
  .gs-arrow-left-circle:before {
    content: '\e911';
  }
  .gs-arrow-right:before {
    content: '\e912';
  }
  .gs-arrow-right-circle:before {
    content: '\e913';
  }
  .gs-arrow-up:before {
    content: '\e914';
  }
  .gs-arrow-up-circle:before {
    content: '\e915';
  }
  .gs-arrow-up-left:before {
    content: '\e916';
  }
  .gs-arrow-up-right:before {
    content: '\e917';
  }
  .gs-at-sign:before {
    content: '\e918';
  }
  .gs-award:before {
    content: '\e919';
  }
  .gs-bar-chart:before {
    content: '\e91a';
  }
  .gs-bar-chart-2:before {
    content: '\e91b';
  }
  .gs-battery:before {
    content: '\e91c';
  }
  .gs-battery-charging:before {
    content: '\e91d';
  }
  .gs-bell:before {
    content: '\e91e';
  }
  .gs-bell-off:before {
    content: '\e91f';
  }
  .gs-bluetooth:before {
    content: '\e920';
  }
  .gs-bold:before {
    content: '\e921';
  }
  .gs-book:before {
    content: '\e922';
  }
  .gs-book-open:before {
    content: '\e923';
  }
  .gs-bookmark:before {
    content: '\e924';
  }
  .gs-box:before {
    content: '\e925';
  }
  .gs-briefcase:before {
    content: '\e926';
  }
  .gs-calendar:before {
    content: '\e927';
  }
  .gs-camera:before {
    content: '\e928';
  }
  .gs-camera-off:before {
    content: '\e929';
  }
  .gs-cast:before {
    content: '\e92a';
  }
  .gs-check:before {
    content: '\e92b';
  }
  .gs-check-circle:before {
    content: '\e92c';
  }
  .gs-check-square:before {
    content: '\e92d';
  }
  .gs-chevron-down:before {
    content: '\e92e';
  }
  .gs-chevron-left:before {
    content: '\e92f';
  }
  .gs-chevron-right:before {
    content: '\e930';
  }
  .gs-chevron-up:before {
    content: '\e931';
  }
  .gs-chevrons-down:before {
    content: '\e932';
  }
  .gs-chevrons-left:before {
    content: '\e933';
  }
  .gs-chevrons-right:before {
    content: '\e934';
  }
  .gs-chevrons-up:before {
    content: '\e935';
  }
  .gs-chrome:before {
    content: '\e936';
  }
  .gs-circle:before {
    content: '\e937';
  }
  .gs-clipboard:before {
    content: '\e938';
  }
  .gs-clock:before {
    content: '\e939';
  }
  .gs-cloud:before {
    content: '\e93a';
  }
  .gs-cloud-drizzle:before {
    content: '\e93b';
  }
  .gs-cloud-lightning:before {
    content: '\e93c';
  }
  .gs-cloud-off:before {
    content: '\e93d';
  }
  .gs-cloud-rain:before {
    content: '\e93e';
  }
  .gs-cloud-snow:before {
    content: '\e93f';
  }
  .gs-code:before {
    content: '\e940';
  }
  .gs-codepen:before {
    content: '\e941';
  }
  .gs-codesandbox:before {
    content: '\e942';
  }
  .gs-coffee:before {
    content: '\e943';
  }
  .gs-columns:before {
    content: '\e944';
  }
  .gs-command:before {
    content: '\e945';
  }
  .gs-compass:before {
    content: '\e946';
  }
  .gs-copy:before {
    content: '\e947';
  }
  .gs-corner-down-left:before {
    content: '\e948';
  }
  .gs-corner-down-right:before {
    content: '\e949';
  }
  .gs-corner-left-down:before {
    content: '\e94a';
  }
  .gs-corner-left-up:before {
    content: '\e94b';
  }
  .gs-corner-right-down:before {
    content: '\e94c';
  }
  .gs-corner-right-up:before {
    content: '\e94d';
  }
  .gs-corner-up-left:before {
    content: '\e94e';
  }
  .gs-corner-up-right:before {
    content: '\e94f';
  }
  .gs-cpu:before {
    content: '\e950';
  }
  .gs-credit-card:before {
    content: '\e951';
  }
  .gs-crop:before {
    content: '\e952';
  }
  .gs-crosshair:before {
    content: '\e953';
  }
  .gs-database:before {
    content: '\e954';
  }
  .gs-delete:before {
    content: '\e955';
  }
  .gs-disc:before {
    content: '\e956';
  }
  .gs-dollar-sign:before {
    content: '\e957';
  }
  .gs-download:before {
    content: '\e958';
  }
  .gs-download-cloud:before {
    content: '\e959';
  }
  .gs-droplet:before {
    content: '\e95a';
  }
  .gs-edit:before {
    content: '\e95b';
  }
  .gs-edit-2:before {
    content: '\e95c';
  }
  .gs-edit-3:before {
    content: '\e95d';
  }
  .gs-external-link:before {
    content: '\e95e';
  }
  .gs-eye:before {
    content: '\e95f';
  }
  .gs-eye-off:before {
    content: '\e960';
  }
  .gs-facebook:before {
    content: '\e961';
  }
  .gs-fast-forward:before {
    content: '\e962';
  }
  .gs-feather:before {
    content: '\e963';
  }
  .gs-figma:before {
    content: '\e964';
  }
  .gs-file:before {
    content: '\e965';
  }
  .gs-file-minus:before {
    content: '\e966';
  }
  .gs-file-plus:before {
    content: '\e967';
  }
  .gs-file-text:before {
    content: '\e968';
  }
  .gs-film:before {
    content: '\e969';
  }
  .gs-filter:before {
    content: '\e96a';
  }
  .gs-flag:before {
    content: '\e96b';
  }
  .gs-folder:before {
    content: '\e96c';
  }
  .gs-folder-minus:before {
    content: '\e96d';
  }
  .gs-folder-plus:before {
    content: '\e96e';
  }
  .gs-framer:before {
    content: '\e96f';
  }
  .gs-frown:before {
    content: '\e970';
  }
  .gs-gift:before {
    content: '\e971';
  }
  .gs-git-branch:before {
    content: '\e972';
  }
  .gs-git-commit:before {
    content: '\e973';
  }
  .gs-git-merge:before {
    content: '\e974';
  }
  .gs-git-pull-request:before {
    content: '\e975';
  }
  .gs-github:before {
    content: '\e976';
  }
  .gs-gitlab:before {
    content: '\e977';
  }
  .gs-globe:before {
    content: '\e978';
  }
  .gs-grid:before {
    content: '\e979';
  }
  .gs-hard-drive:before {
    content: '\e97a';
  }
  .gs-hash:before {
    content: '\e97b';
  }
  .gs-headphones:before {
    content: '\e97c';
  }
  .gs-heart:before {
    content: '\e97d';
  }
  .gs-help-circle:before {
    content: '\e97e';
  }
  .gs-hexagon:before {
    content: '\e97f';
  }
  .gs-home:before {
    content: '\e980';
  }
  .gs-image:before {
    content: '\e981';
  }
  .gs-inbox:before {
    content: '\e982';
  }
  .gs-info:before {
    content: '\e983';
  }
  .gs-instagram:before {
    content: '\e984';
  }
  .gs-italic:before {
    content: '\e985';
  }
  .gs-key:before {
    content: '\e986';
  }
  .gs-layers:before {
    content: '\e987';
  }
  .gs-layout:before {
    content: '\e988';
  }
  .gs-life-buoy:before {
    content: '\e989';
  }
  .gs-link:before {
    content: '\e98a';
  }
  .gs-link-2:before {
    content: '\e98b';
  }
  .gs-linkedin:before {
    content: '\e98c';
  }
  .gs-list:before {
    content: '\e98d';
  }
  .gs-loader:before {
    content: '\e98e';
  }
  .gs-lock:before {
    content: '\e98f';
  }
  .gs-log-in:before {
    content: '\e990';
  }
  .gs-log-out:before {
    content: '\e991';
  }
  .gs-mail:before {
    content: '\e992';
  }
  .gs-map:before {
    content: '\e993';
  }
  .gs-map-pin:before {
    content: '\e994';
  }
  .gs-maximize:before {
    content: '\e995';
  }
  .gs-maximize-2:before {
    content: '\e996';
  }
  .gs-meh:before {
    content: '\e997';
  }
  .gs-menu:before {
    content: '\e998';
  }
  .gs-message-circle:before {
    content: '\e999';
  }
  .gs-message-square:before {
    content: '\e99a';
  }
  .gs-mic:before {
    content: '\e99b';
  }
  .gs-mic-off:before {
    content: '\e99c';
  }
  .gs-minimize:before {
    content: '\e99d';
  }
  .gs-minimize-2:before {
    content: '\e99e';
  }
  .gs-minus:before {
    content: '\e99f';
  }
  .gs-minus-circle:before {
    content: '\e9a0';
  }
  .gs-minus-square:before {
    content: '\e9a1';
  }
  .gs-monitor:before {
    content: '\e9a2';
  }
  .gs-moon:before {
    content: '\e9a3';
  }
  .gs-more-horizontal:before {
    content: '\e9a4';
  }
  .gs-more-vertical:before {
    content: '\e9a5';
  }
  .gs-mouse-pointer:before {
    content: '\e9a6';
  }
  .gs-move:before {
    content: '\e9a7';
  }
  .gs-music:before {
    content: '\e9a8';
  }
  .gs-navigation:before {
    content: '\e9a9';
  }
  .gs-navigation-2:before {
    content: '\e9aa';
  }
  .gs-octagon:before {
    content: '\e9ab';
  }
  .gs-package:before {
    content: '\e9ac';
  }
  .gs-paperclip:before {
    content: '\e9ad';
  }
  .gs-pause:before {
    content: '\e9ae';
  }
  .gs-pause-circle:before {
    content: '\e9af';
  }
  .gs-pen-tool:before {
    content: '\e9b0';
  }
  .gs-percent:before {
    content: '\e9b1';
  }
  .gs-phone:before {
    content: '\e9b2';
  }
  .gs-phone-call:before {
    content: '\e9b3';
  }
  .gs-phone-forwarded:before {
    content: '\e9b4';
  }
  .gs-phone-incoming:before {
    content: '\e9b5';
  }
  .gs-phone-missed:before {
    content: '\e9b6';
  }
  .gs-phone-off:before {
    content: '\e9b7';
  }
  .gs-phone-outgoing:before {
    content: '\e9b8';
  }
  .gs-pie-chart:before {
    content: '\e9b9';
  }
  .gs-play:before {
    content: '\e9ba';
  }
  .gs-play-circle:before {
    content: '\e9bb';
  }
  .gs-plus:before {
    content: '\e9bc';
  }
  .gs-plus-circle:before {
    content: '\e9bd';
  }
  .gs-plus-square:before {
    content: '\e9be';
  }
  .gs-pocket:before {
    content: '\e9bf';
  }
  .gs-power:before {
    content: '\e9c0';
  }
  .gs-printer:before {
    content: '\e9c1';
  }
  .gs-radio:before {
    content: '\e9c2';
  }
  .gs-refresh-ccw:before {
    content: '\e9c3';
  }
  .gs-refresh-cw:before {
    content: '\e9c4';
  }
  .gs-repeat:before {
    content: '\e9c5';
  }
  .gs-rewind:before {
    content: '\e9c6';
  }
  .gs-rotate-ccw:before {
    content: '\e9c7';
  }
  .gs-rotate-cw:before {
    content: '\e9c8';
  }
  .gs-rss:before {
    content: '\e9c9';
  }
  .gs-save:before {
    content: '\e9ca';
  }
  .gs-scissors:before {
    content: '\e9cb';
  }
  .gs-search:before {
    content: '\e9cc';
  }
  .gs-send:before {
    content: '\e9cd';
  }
  .gs-server:before {
    content: '\e9ce';
  }
  .gs-settings:before {
    content: '\e9cf';
  }
  .gs-share:before {
    content: '\e9d0';
  }
  .gs-share-2:before {
    content: '\e9d1';
  }
  .gs-shield:before {
    content: '\e9d2';
  }
  .gs-shield-off:before {
    content: '\e9d3';
  }
  .gs-shopping-bag:before {
    content: '\e9d4';
  }
  .gs-shopping-cart:before {
    content: '\e9d5';
  }
  .gs-shuffle:before {
    content: '\e9d6';
  }
  .gs-sidebar:before {
    content: '\e9d7';
  }
  .gs-skip-back:before {
    content: '\e9d8';
  }
  .gs-skip-forward:before {
    content: '\e9d9';
  }
  .gs-slack:before {
    content: '\e9da';
  }
  .gs-slash:before {
    content: '\e9db';
  }
  .gs-sliders:before {
    content: '\e9dc';
  }
  .gs-smartphone:before {
    content: '\e9dd';
  }
  .gs-smile:before {
    content: '\e9de';
  }
  .gs-speaker:before {
    content: '\e9df';
  }
  .gs-square:before {
    content: '\e9e0';
  }
  .gs-star:before {
    content: '\e9e1';
  }
  .gs-stop-circle:before {
    content: '\e9e2';
  }
  .gs-sun:before {
    content: '\e9e3';
  }
  .gs-sunrise:before {
    content: '\e9e4';
  }
  .gs-sunset:before {
    content: '\e9e5';
  }
  .gs-tablet:before {
    content: '\e9e6';
  }
  .gs-tag:before {
    content: '\e9e7';
  }
  .gs-target:before {
    content: '\e9e8';
  }
  .gs-terminal:before {
    content: '\e9e9';
  }
  .gs-thermometer:before {
    content: '\e9ea';
  }
  .gs-thumbs-down:before {
    content: '\e9eb';
  }
  .gs-thumbs-up:before {
    content: '\e9ec';
  }
  .gs-toggle-left:before {
    content: '\e9ed';
  }
  .gs-toggle-right:before {
    content: '\e9ee';
  }
  .gs-tool:before {
    content: '\e9ef';
  }
  .gs-trash:before {
    content: '\e9f0';
  }
  .gs-trash-2:before {
    content: '\e9f1';
  }
  .gs-trello:before {
    content: '\e9f2';
  }
  .gs-trending-down:before {
    content: '\e9f3';
  }
  .gs-trending-up:before {
    content: '\e9f4';
  }
  .gs-triangle:before {
    content: '\e9f5';
  }
  .gs-truck:before {
    content: '\e9f6';
  }
  .gs-tv:before {
    content: '\e9f7';
  }
  .gs-twitch:before {
    content: '\e9f8';
  }
  .gs-twitter:before {
    content: '\e9f9';
  }
  .gs-type:before {
    content: '\e9fa';
  }
  .gs-umbrella:before {
    content: '\e9fb';
  }
  .gs-underline:before {
    content: '\e9fc';
  }
  .gs-unlock:before {
    content: '\e9fd';
  }
  .gs-upload:before {
    content: '\e9fe';
  }
  .gs-upload-cloud:before {
    content: '\e9ff';
  }
  .gs-user:before {
    content: '\ea00';
  }
  .gs-user-check:before {
    content: '\ea01';
  }
  .gs-user-minus:before {
    content: '\ea02';
  }
  .gs-user-plus:before {
    content: '\ea03';
  }
  .gs-user-x:before {
    content: '\ea04';
  }
  .gs-users:before {
    content: '\ea05';
  }
  .gs-video:before {
    content: '\ea06';
  }
  .gs-video-off:before {
    content: '\ea07';
  }
  .gs-voicemail:before {
    content: '\ea08';
  }
  .gs-volume:before {
    content: '\ea09';
  }
  .gs-volume-1:before {
    content: '\ea0a';
  }
  .gs-volume-2:before {
    content: '\ea0b';
  }
  .gs-volume-x:before {
    content: '\ea0c';
  }
  .gs-watch:before {
    content: '\ea0d';
  }
  .gs-wifi:before {
    content: '\ea0e';
  }
  .gs-wifi-off:before {
    content: '\ea0f';
  }
  .gs-wind:before {
    content: '\ea10';
  }
  .gs-x:before {
    content: '\ea11';
  }
  .gs-x-circle:before {
    content: '\ea12';
  }
  .gs-x-octagon:before {
    content: '\ea13';
  }
  .gs-x-square:before {
    content: '\ea14';
  }
  .gs-youtube:before {
    content: '\ea15';
  }
  .gs-zap:before {
    content: '\ea16';
  }
  .gs-zap-off:before {
    content: '\ea17';
  }
  .gs-zoom-in:before {
    content: '\ea18';
  }
  .gs-zoom-out:before {
    content: '\ea19';
  }
}
